@import "style";


$white: white;
$color1: #0176b5;
$color2: #00466c;
$color3: #494949;
$linkcolor: #0843aa;


.pictureframe {
    display: flex;
    justify-content: center;
}
.portrait {
    @include transform(scale(0.6)); 
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    @include border-right-radius(50%);
    margin: 0;
}

.main {
    margin-bottom: 200px;
    h2 {
        font-size: 2em;
        color: $color1;
        margin-top: 0;
        text-align: left;
    }
    p {
        text-align: left;
        font-size: 1.2em;
        margin-top: 1%;
    }
    span {
        color: $color1;
    }
}