@import "style";


//Each project is divided into divs with the 'project-name' class
.project-item {
    border-top: 1px solid $color1;
    
    h3, h4{color: $color1;}
    h3 {font-size: 1.8rem;}
    h4 {font-size: 1.4rem;}
    
    a {
        color: $color1;
        font-size: 1.5em;
        @include transition(all, .5s );
    }
    a:hover {
        color: $linkcolor;
    }
    
    p, li {
        color: $color3;
        font-size: 1.1em;
    }
}
